@{



<br>
</br>


    ViewBag.Title = "About High-FIVE";
}
<h2>@ViewBag.Title.</h2>

<p>High-Five will allow Centric employees to be recognized in a fun way. The employee recognition is based on Centric's core values and can lead to increased employee moral and productivity. Employees will be featured on the leaderboard in order to recognize top employees for thier hard work through our core values. More information about these values and ways to increase your recognition score can be found on the home page.</p>

