@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <center><h1>High - FIVE</h1></center>
    <center><p class="lead">Welcome to Centric, where recognition is our highest priority! </p></center>
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/_Images/Commit to Delivery Excellence- Lily.jpg" alt="Commit to Delivery Excellence" style="height:100%; width:100%">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Commit to Delivery Excellence</h1>
                        <p class="lead">Care about the end product</p>
                        @*<a class="btn btn-large btn-warning" href="#">Go to Lily's Profile</a>*@
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/_Images/Live a Balanced Life 2.jpg" alt="Live a Balanced Life" style="height:100%; width:100%">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Live a Balanced Life</h1>
                        <p class="lead">Take time for you</p>
                        @*<a class="btn btn-large btn-warning" href="#">Learn more about the team</a>*@
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/_Images/Strive to Innovate- Nick sized.jpg" alt="Strive to Innovate" style="height:100%; width:100%">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Strive to Innovate</h1>
                        <p class="lead">Think outside the box</p>
                        @*<a class="btn btn-large btn-warning" href="#">Go to Nick's Profile</a>*@
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/_Images/Ignite Passion for the Greater Good sized 3.jpg" alt="Ignite Passion for the Greater Good" style="height:100%; width:100%">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Ignite Passion for the Greater Good</h1>
                        <p class="lead">Benefit the community</p>
                        @*<a class="btn btn-large btn-warning" href="#">Learn more about the project</a>*@
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/_Images/Invest in Exceptional Culture 2 sized 1.jpg" alt="Invest in Exceptional Culture" style="height:100%; width:100%">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Invest in Exceptional Culture</h1>
                        <p class="lead">Collaborate with others</p>
                        @*<a class="btn btn-large btn-warning" href="#">Learn about the team</a>*@
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/_Images/Practice Responsible Stewardship.jpg" alt="Practice Responsible Stewardship" style="height:100%; width:100%">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Practice Responsible Stewardship</h1>
                        <p class="lead">Use Resources Wisely</p>
                        @*<a class="btn btn-large btn-warning" href="#">Go to Mark's Profile</a>*@
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/_Images/Embrace Integrity and Openness 2.jpg" alt="Embrace Integrity and Openness" style="height:100%; width:100%">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Embrace Integrity and Openness</h1>
                        <p class="lead">Be Open to Feedback</p>
                        @*<a class="btn btn-large btn-warning" href="#">Go to Cindy's Profile</a>*@
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
    </div><!-- /.carousel -->
</div>


    @*original jumbotron with Chelsea*@
    @*<div class="jumbotron">
            <center><h1>High - FIVE</h1></center>
            <center><p class="lead">Welcome to Centric where recognition is our highest priority! Today's High-Five goes to </p></center>
            <center><p><h2><strong>Chelsea Smith</strong></h2></p></center>
              <p><center>Chelsea is recieving a High - FIVE for living a balanced life!</center></p>
            <center><img src="~/_Images/Chloe Marathon pic.jpg" height="300" /></center>
            <p><center>This past weekend, Chelsea ran a 5k in her hometown of Muncie, Indiana. She completed with a time of 23 minutes and 43 seconds.</center></p>
            <center><p><h2><strong>Great job, Chelsea!</strong></h2></p></center>
            <center><p><a href="https://centricconsulting.com/news-and-insights/" class="btn btn-default btn-lg">Learn more about Chelsea &raquo;</a></p></center>
        </div>*@




    <div class="row">
        <div class="col-md-4">
            <a class="twitter-timeline" data-height="450" href="https://twitter.com/centric?ref_src=twsrc%5Etfw">Tweets by centric</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-md-4">
            <h2>Need Ideas?</h2>
            <p>
                Need ideas for what to do to increase your score in the core value of "Ignite Passion for the Greater Good" or "Practice Responsible Stweardship"?
                Check out what High-FIVERS have done in the past for inspiration!
            </p>
            <p><a class="btn btn-default" href="https://centricconsulting.com/about-us/community-citizenship/">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>In the News</h2>
            <p>Check out our recent posts and see what Centric has been doing well!</p>
            <p><a class="btn btn-default" href="https://centricconsulting.com/news-and-insights/">Learn more &raquo;</a></p>
        </div>

    </div>

