
@{
    ViewBag.Title = "LeaderBoards";
    var awardsList = ViewBag.AwardList;

}

<h2>LeaderBoards</h2>
@{ 
    foreach (var item in awardsList)
    { 
        var delimiters = new char[] { ',', '=', '{', '}' };
        var parts = item.ToString().Split(delimiters, StringSplitOptions.RemoveEmptyEntries);
        @parts[3].ToString();
        @parts[5].ToString();
        <span> times</span>
        <br/><br/>
    }
}
